<%= form_for @deposit, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Deposit</legend>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', deposits_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
